
.grid-container {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
    gap: 2px;
    border: 1px solid black;
    height: 600px;
    width: 700px;
    margin: auto;
}

.grid-item {
    width: calc((100%/15)-2px);
    height: calc((100%/15)-2px);
    background-color: lightgray;
    border: 1px solid white;
    text-align: center;
}

.piece {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: auto;
}

.black {
  background-color: green;
}

.white {
  background-color: pink;
}
